<a href="https://colab.research.google.com/github/subagayathri/WeatherPrediction/blob/main/weather.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Reqiured modules
import pandas as pd
from sklearn.preprocessing import  LabelEncoder
from sklearn.naive_bayes import  GaussianNB

In [2]:
#Reading the csv file
df=pd.read_csv("weather.csv")
df

     outlook temperature humidity  windy play
0   overcast         hot     high  False  yes
1   overcast        cool   normal   True  yes
2   overcast        mild     high   True  yes
3   overcast         hot   normal  False  yes
4      rainy        mild     high  False  yes
5      rainy        cool   normal  False  yes
6      rainy        cool   normal   True   no
7      rainy        mild   normal  False  yes
8      rainy        mild     high   True   no
9      sunny         hot     high  False   no
10     sunny         hot     high   True   no
11     sunny        mild     high  False   no
12     sunny        cool   normal  False  yes
13     sunny        mild   normal   True  yes

In [10]:
# reading the csv files
df=pd.read_csv("weather.csv")
df
#Encoding the strings to Numericals

Numerics = LabelEncoder()

#Processing the target variable and make it is as newframe
inputs=df.drop('play', axis='columns')
target=df['play']
target

0     yes
1     yes
2     yes
3     yes
4     yes
5     yes
6      no
7     yes
8      no
9      no
10     no
11     no
12    yes
13    yes
Name: play, dtype: object

In [12]:
#Creating the new DataFrame


inputs['Outlook_n']=Numerics.fit_transform(inputs['outlook'])
inputs['Temp_n']=Numerics.fit_transform(inputs['temperature'])
inputs['Hum_n']=Numerics.fit_transform(inputs['humidity'])
inputs['Win_n']=Numerics.fit_transform(inputs['windy'])
inputs

     outlook temperature humidity  windy  Outlook_n  Temp_n  Hum_n  Win_n
0   overcast         hot     high  False          0       1      0      0
1   overcast        cool   normal   True          0       0      1      1
2   overcast        mild     high   True          0       2      0      1
3   overcast         hot   normal  False          0       1      1      0
4      rainy        mild     high  False          1       2      0      0
5      rainy        cool   normal  False          1       0      1      0
6      rainy        cool   normal   True          1       0      1      1
7      rainy        mild   normal  False          1       2      1      0
8      rainy        mild     high   True          1       2      0      1
9      sunny         hot     high  False          2       1      0      0
10     sunny         hot     high   True          2       1      0      1
11     sunny        mild     high  False          2       2      0      0
12     sunny        cool   normal  False          2       0      1      0
13     sunny        mild   normal   True          2       2      1      1

In [14]:
# dropping the string values
inputs_n=inputs.drop(['outlook','temperature','humidity','windy'],axis='columns')
inputs_n

    Outlook_n  Temp_n  Hum_n  Win_n
0           0       1      0      0
1           0       0      1      1
2           0       2      0      1
3           0       1      1      0
4           1       2      0      0
5           1       0      1      0
6           1       0      1      1
7           1       2      1      0
8           1       2      0      1
9           2       1      0      0
10          2       1      0      1
11          2       2      0      0
12          2       0      1      0
13          2       2      1      1

In [16]:
#Applying Gaussian naivebayes
classifier=GaussianNB()
classifier.fit(inputs_n,target)

GaussianNB()

#92% accuracy
classifier.score(inputs_n,target)

0.9285714285714286

In [18]:
#Prediction
classifier.predict([[1,0,0,1]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  "X does not have valid feature names, but"

array(['no'], dtype='<U3')